<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data">
                    <div class="card" style="width: 18rem;">
                        <img height="300px" src="{{i.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                     
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item font-monospace ">AlbumId: {{i.albumId}}</li>
                          <li class="list-group-item font-monospace ">Id: {{i.id}}</li>
                          
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>